<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="resizer" type="ImageResizer.ResizerSection" requirePermission="false" />
  <sectionGroup name="karbon">
      <section name="fileStores" type="Karbon.Cms.Core.Configuration.FileStoresSection, Karbon.Cms.Core" />
      <section name="dataSerializers" type="Karbon.Cms.Core.Configuration.DataSerializersSection, Karbon.Cms.Core" />
    </sectionGroup></configSections>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    <httpModules>
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
    <add name="KarbonRequestModule" type="Karbon.Cms.Web.Modules.KarbonRequestModule, Karbon.Cms.Web" /></httpModules></system.web>

<system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
    <add name="KarbonRequestModule" type="Karbon.Cms.Web.Modules.KarbonRequestModule, Karbon.Cms.Web" /></modules>
  </system.webServer><resizer>
	<plugins>
	<add name="MvcRoutingShim" />
	</plugins>
	</resizer><karbon>
    <fileStores configSource="Config\FileStores.config" />
    <dataSerializers configSource="Config\DataSerializers.config" />
  </karbon><location path="media">
    <system.webServer>
      <handlers>
        <clear />
        <add name="media" path="*" verb="*" type="System.Web.StaticFileHandler" preCondition="integratedMode" />
      </handlers>
    </system.webServer>
  </location></configuration>
