@inherits KarbonView

<!-- profile begins -->
<section id="page-profile" class="page-profile">
    <div class="container">
        <header class="section-header">
            <h2 class="section-title">Personal Profile</h2>
            <div class="spacer"></div>
            <p class="section-subtitle">@Model.CurrentPage.Get("ProfileSubtitle")</p>
        </header>
        <div class="row">
            <div class="col-md-3">
                <div class="profile"><img src="@Model.CurrentPage.Get("ProfileImage")" alt=" profile" /></div>
            </div>
            <div class="col-md-9">
                @Html.Md(Model.CurrentPage.Get("Profile"))
            </div>
        </div>
    </div>
</section><!-- profile ends -->