@inherits KarbonView
@{
    var social = Json.Decode(Model.CurrentPage.Get("Social"));
}

<!-- welcome begins -->
<section id="page-welcome" class="page-welcome">
    <div>
        <ul class="slider-controls">
            <li><a id="vegas-next" class="next" href="#"></a></li>
            <li><a id="vegas-prev" class="prev" href="#"></a></li>
        </ul>
    </div>
    <div class="container">
        <div class="row">
            <header class="centered">
                <h1>@Model.CurrentPage.Get("FullName")</h1>
                <p>@Model.CurrentPage.Get("Title")</p>
            </header>
            <div class="social-icons">
            @foreach (var s in social)
            {
                <a href="@s.url" class="btn btn-round btn-clear btn-@s.name.ToLower().Replace(" ", "-")"><i class="fa @s.icon"></i></a>
            }
            </div>
            <a href="#page-contact" class="btn btn-default hire-me">Hire Me</a>
        </div>
    </div>
</section><!-- welcome ends -->
